/* Default styles */
.product {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: auto;
  max-height: 400px;
  margin: 10px;
  padding: 20px;
  border-radius: 0.375rem;
  border: 0.063rem solid #ddd;
  background-color: #fff;
}

.product:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  transform: translateY(0px);
}

.product__info {
  padding-top: 0;
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 0.625rem;
}

.product__price {
  margin-top: 0.313rem;
}

.product__rating {
  display: flex;
}


.product > img {
  max-height: 12.5rem;
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 0.625rem;
}

.product > button {
  background-color: #ffd814;
  color: #111;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0.938rem;
  font-size: 0.75rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product > button:hover {
  background-color: #f7ca00;
}

@media (max-width: 1704px) {
  .product {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: auto;
    max-height: 400px;
    margin: 10px;
    padding: 20px;
    border-radius: 0.375rem;
    border: 0.063rem solid #ddd;
    background-color: #fff;
  }
}

@media (max-width: 455px) {
  .product {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 122%;
    max-height: 400px;
    margin: 10px;
    padding: 20px;
    border-radius: 0.375rem;
    border: 0.063rem solid #ddd;
    background-color: #fff;
  }
}
