.payment {
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.payment__container > h1 {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-weight: 490;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
  padding: 15px;
}

.payment__container > h1 a {
  text-decoration: none;
}

.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.payment__titleno {
  flex: 0.05;
}

.payment__title {
  flex: 0.2;
}

.payment__address,
.payment__items,
.payment__details {
  flex: 0.75;
}

.payment__address > p {
  font-size: 13px;
  padding: 2px;
}

.orangeColorHoverUnderLine {
  color: #4c9ba9;
  font-weight: 400;
  cursor: pointer;
}

.orangeColorHoverUnderLine:hover {
  text-decoration: underline;
  color: #d47a07;
}

.payment__details > form {
  max-width: 400px;
}

.payment__details > h4 {
  padding-bottom: 20px;
}

.payment__details > form > div > button {
  width: 240px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-color: #a88734 #9c7e31 #846a29;
  background: #ffd814;
  color: #111;
  cursor: pointer;
}

.payment__details > form > div > button:hover {
  background-color: #f7ca00;
}

.payment__priceContainer > h3 {
  margin-top: 20px;
}