.categories {
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  height: 40px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  color: #fff;
  background-color: #232f3e;
}

.categories__MenuIcon {
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 10px;
  padding: 5px;
  color: white;
  cursor: pointer;
}

.categories__MenuIcon:hover {
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid;
  border-radius: 3px;
}

.categories__text {
  font-size: 14px;
  font-weight: normal;
}

.categories__nav {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.categories__option {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  padding: 10px;
  font-size: 14px;
  color: white;
}

.categories__option:hover {
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid;
  border-radius: 3px;
}

.categories__downloadapp {
  padding-left: 185px;
  cursor: pointer;
}

.categories__downloadappImg {
  height: 35px;
}

.categories__downloadappImg:hover {
  border: 1px solid;
  border-radius: 3px;
}
