.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.slider-container {
  margin-bottom: 255px;
}

.slider-image {
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: 1;
  position: absolute;
  width: 79%;
  height: 55%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider-image.active {
  opacity: 1;
}

.slider-image:nth-child(1) {
  background-image: url("./assets/Bg_Banner/background_banner.jpg");
}

.slider-image:nth-child(2) {
  background-image: url("./assets/Bg_Banner/background_banner_2.jpg");
}

.slider-image:nth-child(3) {
  background-image: url("./assets/Bg_Banner/background_banner_3.jpg");
}

.slider-image:nth-child(4) {
  background-image: url("./assets/Bg_Banner/background_banner_4.jpg");
}

.slider-image:nth-child(5) {
  background-image: url("./assets/Bg_Banner/background_banner_5.jpg");
}

.slider-image:nth-child(6) {
  background-image: url("./assets/Bg_Banner/background_banner_6.jpg");
}

.slider-image:nth-child(7) {
  background-image: url("./assets/Bg_Banner/background_banner_7.jpg");
}

.slider-image:nth-child(8) {
  background-image: url("./assets/Bg_Banner/background_banner_8.jpg");
}

.slider-image:nth-child(9) {
  background-image: url("./assets/Bg_Banner/background_banner_9.jpg");
}

.slider-image:nth-child(10) {
  background-image: url("./assets/Bg_Banner/background_banner_10.jpg");
}

.slider-image:nth-child(11) {
  background-image: url("./assets/Bg_Banner/background_banner_11.jpg");
}

.slider-image:nth-child(12) {
  background-image: url("./assets/Bg_Banner/background_banner_12.jpg");
}

.slider-image:nth-child(13) {
  background-image: url("./assets/Bg_Banner/background_banner_13.jpg");
}

.slider-image:nth-child(14) {
  background-image: url("./assets/Bg_Banner/background_banner_14.jpg");
}

.slider-image:nth-child(15) {
  background-image: url("./assets/Bg_Banner/background_banner_15.jpg");
}

.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.mProducts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  max-width: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  z-index: 1;
}

.mProducts:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  transform: translateY(-3px);
}

.mProducts > h1 {
  font-size: 21px;
  margin-bottom: 10px;
  font-weight: 650;
}

.mProducts > img {
  max-height: 250px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  cursor: pointer;
}

.mProducts > p {
  color: #4c9ba9;
  cursor: pointer;
}

.mProducts > p:hover {
  text-decoration: underline;
  color: #d47a07;
}

.mProducts__banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  max-width: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  z-index: 1;
}

.mProducts__banner:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  transform: translateY(-3px);
}

.mProducts__banner > h1 {
  font-size: 21px;
  margin-bottom: 10px;
  font-weight: 650;
}

.mProducts__banner > img {
  max-height: 250px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  cursor: pointer;
}

.mProducts__banner > p {
  color: #4c9ba9;
  margin-bottom: 5px;
  cursor: pointer;
}

.mProducts__banner > p:hover {
  text-decoration: underline;
  color: #d47a07;
}

.signInCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 110px;
  max-width: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.signInCard:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  transform: translateY(-3px);
}

.signInCard > h1 {
  font-size: 21px;
  margin-bottom: 10px;
  font-weight: 650;
}

.signInCard__btn {
  height: 35px;
  width: 300px;
  background: #ffd814;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  cursor: pointer;
}

.signInCard__btn:hover {
  background-color: #f7ca00;
}

@media (max-width: 1704px) {
  .slider-image {
    width: 76%;
    height: 50%;
  }
  .home__row {
    margin-left: 130px;
    margin-right: 130px;
  }
  .slider-container {
    margin-bottom: 213px;
  }
  .signInCard {
    width: 300px !;
  }
  
  .signInCard__btn {
    height: 30px;
    width: 225px;
  }  
}

@media (max-width: 1392px) {
  .slider-image {
    width: 87%;
  }
  .home__row {
    margin-left: 100px;
    margin-right: 100px;
  }
  .slider-container {
    margin-bottom: 202px;
  }
}

@media (max-width: 1215px) {
  .slider-image {
    width: 100%;
  }
  .home__row {
    margin-left: 10px;
    margin-right: 10px;
  }
  .slider-container {
    margin-bottom: 202px;
  }
}

@media (max-width: 1080px) {
  .slider-container {
    margin-bottom: 196px;
  }
}

@media (max-width: 768px) {
  .slider-image {
    width: 100%;
    height: 30%;
  }
  .home__row {
    margin-left: 1px;
    margin-right: 1px;
  }
  .slider-container {
    margin-bottom: 124px;
  }
  .signInCard {
    width: 150px;
  }
  
  .signInCard__btn {
    height: 28px;
    width: 125px;
  }  
}

@media (max-width: 480px) {
  .slider-image {
    width: 100%;
    height: 20%;
    justify-content: center;
  }
  .home__row {
    margin-left: 1px;
    margin-right: 1px;
    display: block;
    width: 86%;
    
  }
  .slider-container {
    margin-bottom: 80px;
  }
  .signInCard {
   display: none;
  }
}

@media (max-width: 455px) {
  .home__row {
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    width: 80%;
    
  }
  .slider-container {
    margin-bottom: 80px;
  }
  .signInCard {
   display: none;
  }
}